.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px);
}

.content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 30px;
}

.content section {
    margin-top: 20px;
}

.content ul {
    list-style: none;
}

.content li {
    margin-top: 20px;
}

.content a {
    color: #1a75b2;
}

.content a:hover {
    color: rgb(194, 76, 76);
}

.content strong {
    color: rgb(194, 76, 76);
}

.blue {
    color: #1a75b2;
}

.news div {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.news div span {
    margin-left: 20px;
}

.news ul {
    list-style: inherit;
    margin-left: 40px;
}
